[Desktop Entry]
Version=0.0.3_20210929
Encoding=UTF-8
Name=serialporttoolgui
Comment=A Cross-platform serial debug tool.
Exec=serialporttoolgui
Terminal=false
Type=Application
Categories=Utility
Icon=${SNAP}/meta/gui/SerialPortToolGUI.png
