[Desktop Entry]
Version=0.1.04.20220518
Encoding=UTF-8
Name=serialporttoolgui
Comment=A Cross-platform serial debug tool.
Exec=serialporttoolgui
Terminal=false
Type=Application
Categories=Utility
Icon=${SNAP}/meta/gui/serialporttoolgui.png
